<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="index.html"><span>Best schoo</span>l first</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" [routerLink]="['/Inicio']">Inicio</a></li>
        <li><a class="nav-link scrollto active" [routerLink]="['/Info']">Info</a></li>
        <li><a class="nav-link scrollto active" [routerLink]="['/Universidades']">Universidades</a></li>
        <li><a class="nav-link scrollto active" [routerLink]="['/InscripcionUni']">Inscripcion Uni</a></li>
        <li><a class="nav-link scrollto active" [routerLink]="['/ServUni']">Serv  Uni</a></li> 
        <li><a class="nav-link scrollto active" [routerLink]="['/Contactos']">Contactos</a></li>

        <header class="fondo" style="--bs-bg-opacity: .5;">
          <div class="container text-center">
            <div class="row">
              <div class="col-2">
                <img class="img-fluid" src="../..assets/imagenes/logo.png">
                </div>
                <div class="col-10">
                  <a [routerLink]="['Sesion']" *ngIf="usuario_activo==false">
                    <i class="fas fa-user-circle"></i> Iniciar Sesion
                    </a>
                    <a [routerLink]="['']" *ngIf="usuario_activo==true" (click)="cerrarSesion()">
                      <i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesion
                      </a>
                      <a href="https://api.whatsapp.com/send?phone=528671234567" target="_blank">
                        <i class="fas fa-comment-dots"></i> Contacto
                      </a>
                      </div>
                      </div>
                    </div>
                    </header>
                   
            

         