 
<div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-9 col-sm-4">
        columna 1
      </div>
      <div class="col-md-2 col-sm-4">
     columna 2
      </div>
    <div class="col md-1 col-sm-4">
        columna 3
      </div>
      bootstrap/
      ├── dist/
      │   ├── css/
      │   └── js/
      ├── site/
      │   └──content/
      │      └── docs/
      │          └── 5.3/
      │              └── examples/
      ├── js/
      └── scss/
      <label for="customRange1" class="form-label">Example range</label>
<input type="range" class="form-range" id="customRange1">
<span class="border border-0"></span>
<span class="border border-top-0"></span>
<span class="border border-end-0"></span>
<span class="border border-bottom-0"></span>
<span class="border border-start-0"></span>
$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-offcanvas-backdrop:         1040;
$zindex-offcanvas:                  1045;
$zindex-modal-backdrop:             1050;
$zindex-modal:                      1055;
$zindex-popover:                    1070;
$zindex-tooltip:                    1080;
$zindex-toast:                      1090;