    <!-- ======= Journal Section ======= -->
    <div id="journal" class="text-left paddsection">

        <div class="container">
          <div class="section-title text-center">
            <h2>journal</h2>
          </div>
        </div>
  
        <div class="container">
          <div class="journal-block">
            <div class="row">
  
              <div class="col-lg-4 col-md-6">
                <div class="journal-info">
  
                  <a href="blog-single.html"><img src="assets/img/uat.jpg" class="img-responsive" alt="img"></a>
  
                  <div class="journal-txt">
  
                    <h4><a href="blog-single.html">Alumnos</a></h4>
                    <p class="separator">Los alumnos de diferentes universidades son de octavo semestre en adelante y se encargaran de dar conocimiento y valores a los mas jovenes
                    </p>
  
                  </div>
  
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                <div class="journal-info">
  
                  <a href="blog-single.html"><img src="assets/img/tecnologico.jpg" class="img-responsive" alt="img"></a>
  
                  <div class="journal-txt">
  
                    <h4><a href="blog-single.html">Paquetes para Padres</a></h4>
                    <p class="separator">Aqui los padres podran escoger el universitario o ya el paquete que quieran para que le inpartan clases a sus hijos
                    </p>
  
                  </div>
  
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6">
                <div class="journal-info">
  
                  <a href="blog-single.html"><img src="assets/img/psico.jpg" class="img-responsive" alt="img"></a>
  
                  <div class="journal-txt">
  
                    <h4><a href="blog-single.html">Universidades disponibles</a></h4>
                    <p class="separator">Estan desde la de psicologia y el Tecnologico
                    </p>
  
                  </div>
  
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
      </div><!-- End Journal Section -->