 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>En esta seccion se ofreceran los servicios a los alumnos registrados de las diferentes universidades</p>
      </div>

      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up">
            <i class="bx bx-receipt"></i>
            <h4>Servicios Para Universitarios</h4>
            <p>Se les entregara un pequeño kit de trabajo para que trabajan exclusivamente con los alumnos de primaria</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-cube-alt"></i>
            <h4>Universidades Disponibles</h4>
            <p>Se encuentran la Tecnologico y inlcuso la de Psicologia </p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-images"></i>
            <h4>Edad para Incribirse y Semestre</h4>
            <p>Tiene que ser de los semestres octavo en adelante y con la edad de 21 en adelante</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-shield"></i>
            <h4>Materias a Impartir</h4>
            <p>Ellos Impartiran la materia necesaria que necesiten los alumnos mas jovenenes</p>
          </div>
        </div>
        <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/universi.jpg");' data-aos="fade-left" data-aos-delay="100"></div>
      </div>

    </div>
  </section><!-- End Services Section -->