<!DOCTYPE html>
<html>
<head>
<title>Registro</title>
<style>
body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
}
 form {
display: flex;
flex-direction: column;
align-items: center;
background-color: #f2f2f2;
padding: 20px;
border-radius: 10px;
box-shadow: 0px 0px 10px #ccc;
max-width: 400px;
width: 100%;
}
 </style>
 </head>
 <body>
<h1>Registro</h1>
<form>
<label>Nombre:</label>
  <input type="text" name="nombre" [(ngModel)]="form.nombre" placeholder="Escribe tu nombre"><br><br>
 <label>Apellido:</label>
 <input type="text" name="apellido" [(ngModel)]="form.apellido" placeholder="Escribe tu apellido" ><br><br>
<label>Correo electrónico:</label>
<input type="email" name="correo" [(ngModel)]="form.correo" placeholder="Escribe tu correo" ><br><br>
<label>Contraseña:</label>
<input type="password" name="contrasena" [(ngModel)]="form.contrasena" placeholder="Escribe tu contraseña"><br><br>
+<label> Confirma Contraseña:</label>
<input type="password"  name="ccontrasena"  [(ngModel)]="ccontrasena" placeholder="debe contener 8 caracteres">
<button (click)="registrarme()">registrarme</button>
</form>




